//@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
$color: #555555;
$white: #ffffff;


@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBook.ttf');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.ttf');
}

@font-face {
    font-family: 'MachProCondBold';
    src: url('../fonts/machprocondbold.otf');
}

/** FIN FONTS **/

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #E30E4F;
}
  
::selection {
    color: #fff;
    background: #E30E4F;
}

body{
    background: #F1F1F1;
    font-family: 'Gotham';
}

.top_bar_blue{
    background: #0B152A;
}

.top_bar_blue p{
    color: #E30E4F;
}

.bg_blue{
    background: #0B152A;
}

.bg_blue_desafio{
    background: #0B233F;
}

.sub_h2_white_login{
    font-family: 'MachProCondBold';
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.sub_h2_white{
    font-family: 'GothamBold';
    color: #fff;
    font-size: 1em;
}

.sub_h2_black{
    font-family: 'GothamBold';
    color: #333333;
    font-size: 1em;
}

.tit_h1_pink{
    font-family: 'MachProCondBold';
    color: #E30E4F;
    font-size: 5em;
}

.tit_h1_staff_pink{
    font-family: 'MachProCondBold';
    color: #E30E4F;
    font-size: 3em;
}

.tit_h2_pink{
    font-family: 'MachProCondBold';
    color: #E30E4F;
    font-size: 3.5em;
}


.tit_h2_staff_pink{
    font-family: 'GothamBold';
    color: #E30E4F;
    font-size: 2em;
}

.tit_h1_white{
    font-family: 'MachProCondBold';
    color: #fff;
    font-size: 5em;
    line-height: 1em;
}

.tit_h2_white{
    font-family: 'MachProCondBold';
    color: #fff;
    font-size: 3.5em;
    line-height: 1em;
}

.mt-n5 {
    margin-top: -24rem !important;
}

.pad_bottom{
    padding-bottom: 25rem !important;
}

.img_border{
    border: 3px solid #fff;
    border-radius: 13px;
}

.btn_pink{
    background: #E30E4F;
    color: #fff;
    font-family: 'Gotham';
}

.btn_pink:hover{
    background: #c50d45;
    color: #fff;
}

.btn_pink_login{
    background: #E30E4F;
    color: #fff;
    font-family: 'MachProCondBold';
    letter-spacing: 1.5px;
}

.btn_pink_login:hover{
    background: #c50d45;
    color: #fff;
}

.txt_video{
    font-family: 'Gotham';
    font-weight: 300;
    padding: 20px 80px;
}

.bg_suplementacion{
    background: url('../img/bg_2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 6rem;
}

.bg_login{
    background: url('../img/bg_login.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 6rem;
}

.bg_slider{
    background: url('../img/slide1.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 6rem;
    height: 100vh;
}

.text_suplementacion{
    color: #fff;
}

.suplementacion_titulo{
    margin-top: 9rem;
}

.text_entrena{
    line-height: 1em;
}

.logos_aliados{
    padding: 10px 150px;
}

.accordion-button:not(.collapsed) {
    color: #FFF  !important;
    background-color: #E30E4F !important;
}
  
.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
    background-color: #E30E4F !important;
    color:#FFF !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #FFF !important;
    box-shadow: 0px !important;       
}
  
.accordion-button:focus {
    z-index: 3;
    border-color: #FFF !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.footer_links_pink{
    color: #E30E4F;
}

.footer_links_pink a{
    color: #E30E4F;
    text-decoration: none;
}

.header .navbar {
    background-color: transparent !important;
}


.navbar-expand-lg .navbar-nav .dropdown-menu{
    background: #e30e4f;
    color: #fff;
}

.dropdown-item{
    color: #fff!important;
}

.dropdown-item:hover{
    background: #c70c45;
}

.navbar .navbar-nav .nav-link {
    color: #0B152A;
    font-size: 0.9em;
    letter-spacing: 1px;
}
.navbar .navbar-nav .nav-link:hover{
    color: #c70c45;
}

.bd_desc_carousel{
    background: #0B233F;
}

.bd_desc_carousel ul li{
    color: #fff;
    list-style-image: url(../img/lista_icon.png);
    font-family: 'Gotham';
}

.price_carousel{
    font-family: 'MachProCondBold';
    color: #fff;
    font-size:2.5rem;
}

.bg_pink{
    background: #E30E4F;
}

.inscripciones .row{
    padding: 80px 0px;
}

.filtering {
    margin-bottom: 40px;
}
.filtering span {
    border: 2px solid transparent;
    color: #E30E4F;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 5px;
    padding:10px;
    font-family: 'Gotham';
}
.filtering span:last-child {
    margin: 0;
}
.filtering .active {
    border-color: #E30E4F;
    color: #E30E4F;
}

.grid-item{
    padding: 10px;
}

.login_text{
    margin-top: 4em;
}

.text_slide{
    margin-top: 2.5em;
}

.login_form{
    content: '';
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.img_staff {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.img_staff:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #0B152A;
    
  }
}